@media screen and ( max-width: 1300px)
	html
		font-size: 12px
	.nav
		&__item
			margin-right: 1rem
@media screen and ( max-width: 992px)
	.nav
		display: none
	.hero
		&__instagram
			display: none	
		&__content
			margin-left: 0

@media screen and ( max-width: 760px)
	.section
		&-title
			&__heading
				padding-top: 1.5rem
	.row
		flex-direction: column
		align-items: center
	.types
		&__card
			margin-bottom: 5rem
	.card
		margin-bottom: 7rem
		&__text
			margin-top: -12rem
			margin-left: 0	
	
	.designe
		background-color: #181818
	.section
		&-title
			&--light
				color: $light
			&__description
				max-width: 85%
				font-size: 1.25rem
				line-height: 136%
				font-weight: 400
			&__word
				&::after
					display: none
	.card
		&__list
			&--min
				.card__item
					&:nth-child(n+8)
						display: none
					&:nth-child(7)
						&::after
							content: '...'
							margin-left: 0.5rem	
	.projects
		padding: 0
		&__row
			align-items: start
			margin-top: 0
		.section
			&-title
				&__text
					max-width: 95%
				&--left
					padding-top: 0
					text-align: left	
	.swiper
    &-slide 
      &__text
        flex-basis: 50% 
	.col
		&-45, &-55
			max-width: 95%
		&-55	
			margin-bottom: 0
	.pageup 
		display: none
		position: fixed
		bottom: 0
		right: 0
		width: 100%
		background: $dark
		border-radius: 0
		padding: 10px
		cursor: pointer
		img
			height: 100%

@media screen and ( max-width: 570px)
	.section
		&-title
			&__text
				max-width: 25.42rem
				line-height: 158.48%
				font-size: 1.167rem
				margin-top: 2rem
			&__heading
				font-size: 1.75rem
	.contacts
		&__phone
			margin-right: 0
			color: $light
			text-decoration: none
		&__button
			display: none
	.title
		font-size: 1.64rem
	.hero
		height: 60vh
		&__scroll-down
			display: none
		&__title
			font-size: 1.92rem
			line-height: 132.83%
			max-width: 22.86rem      
		&__text
			font-size: 1.5rem
			margin-bottom: 3rem
			max-width: 26.75rem      
		&__button
			display: block
			min-width: 22.86rem
			margin-bottom: 1.85rem
			margin-right: 0
			width: 100%
			font-size: 1.08rem
@media screen and ( max-height: 530px)
	.hero
		&__scroll-down
			display: none

